# env
.env
.env.local

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# node
node_modules/
.next/
out/
npm-debug.log*
*.tsbuildinfo

# uploads
backend/uploads/
uploads/
backend/static/
static/

# os
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
